{% extends 'home/index22.html' %}

{% load static %}
{% load i18n %}

{% block title %}
    <title>GTI-Produits</title>
{% endblock %}
{% block main %}

        <main class="main">
            {% if not query_not_match %}
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Grid 3 Columns<span>{% trans 'Boutique' %}</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Grid 3 Columns</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                	<div class="row">
                		<div class="col-lg-9">
                			<div class="toolbox">
                				<div class="toolbox-left">
                					<div class="toolbox-info">
                						{% trans 'Affiche' %} <span>9 de 56</span> {% trans 'Produits' %}
                					</div><!-- End .toolbox-info -->
                				</div><!-- End .toolbox-left -->

                				<div class="toolbox-right">
                					<div class="toolbox-sort">
                						<label for="sortby">{% trans 'Trier par:' %}</label>
                						<div class="select-custom">
											<select name="sortby" id="sortby" class="form-control">
												<option value="popularity" selected="selected">{% trans 'Plus populaire' %}</option>
												<option value="rating">{% trans 'Most Rated' %}</option>
												<option value="date">Date</option>
											</select>
										</div>
                					</div><!-- End .toolbox-sort -->
                					<div class="toolbox-layout">
                						<a href="#" class="btn-layout">
                							<svg width="16" height="10">
                								<rect x="0" y="0" width="4" height="4" />
                								<rect x="6" y="0" width="10" height="4" />
                								<rect x="0" y="6" width="4" height="4" />
                								<rect x="6" y="6" width="10" height="4" />
                							</svg>
                						</a>

                						<a href="#" class="btn-layout">
                							<svg width="10" height="10">
                								<rect x="0" y="0" width="4" height="4" />
                								<rect x="6" y="0" width="4" height="4" />
                								<rect x="0" y="6" width="4" height="4" />
                								<rect x="6" y="6" width="4" height="4" />
                							</svg>
                						</a>

                						<a href="#" class="btn-layout active">
                							<svg width="16" height="10">
                								<rect x="0" y="0" width="4" height="4" />
                								<rect x="6" y="0" width="4" height="4" />
                								<rect x="12" y="0" width="4" height="4" />
                								<rect x="0" y="6" width="4" height="4" />
                								<rect x="6" y="6" width="4" height="4" />
                								<rect x="12" y="6" width="4" height="4" />
                							</svg>
                						</a>

                						<a href="#" class="btn-layout">
                							<svg width="22" height="10">
                								<rect x="0" y="0" width="4" height="4" />
                								<rect x="6" y="0" width="4" height="4" />
                								<rect x="12" y="0" width="4" height="4" />
                								<rect x="18" y="0" width="4" height="4" />
                								<rect x="0" y="6" width="4" height="4" />
                								<rect x="6" y="6" width="4" height="4" />
                								<rect x="12" y="6" width="4" height="4" />
                								<rect x="18" y="6" width="4" height="4" />
                							</svg>
                						</a>
                					</div><!-- End .toolbox-layout -->
                				</div><!-- End .toolbox-right -->
                			</div><!-- End .toolbox -->

                            <div class="products mb-3">

                                <div class="row justify-content-center display">
                                    {% for produit in page_obj %}
                                    <div class="col-6 col-md-4 col-lg-4 all_product">
                                        <div class="product product-3 text-center">
                                            <figure class="product-media">
                                                <span class="product-label label-sale">Sale</span>
                                                <a href="{% url 'product' id=produit.produit.pk %}">
                                                    <img src="{{ produit.produit.image1.url }}" alt="Product image" class="product-image">
                                                </a>

                                                <div class="product-action-vertical">
                                                    <a href="#" onclick="addWishlist('{{ produit.produit.pk }}'); return false;" class="btn-product-icon btn-wishlist btn-expandable"><span>{% trans 'ajouter aux favoris' %}</span></a>
                                                </div><!-- End .product-action-vertical -->
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <div class="product-cat categorie">
                                                    <a href="#"><b>{{ produit.produit.categorie }}</b></a>
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a href="{% url 'product' id=produit.produit.pk %}">{{ produit.produit.nom }}</a></h3><!-- End .product-title -->
                                                <div class="product-price">
                                                    <span class="new-price">${{ produit.produit.prix }}</span>
                                                    <span class="old-price">Was $330.00</span>
                                                </div><!-- End .product-price -->
                                            </div><!-- End .product-body -->

                                            <div class="product-footer">
                                                <div class="ratings-container">
                                                    {% if produit.note_product == 0 %}
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 0%;"></div><!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                    {% endif %}
                                                    {% if produit.note_product == 1 %}
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                    {% endif %}
                                                    {% if produit.note_product == 2 %}
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 40%;"></div><!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                    {% endif %}
                                                    {% if produit.note_product == 3 %}
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                    {% endif %}
                                                    {% if produit.note_product == 4 %}
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                    {% endif %}
                                                    {% if produit.note_product == 5 %}
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                    {% endif %}
                                                    <span class="ratings-text">( {{ produit.review }} Reviews )</span>
                                                </div><!-- End .rating-container -->



                                                <div class="product-action">
                                                    <a href="#"   onclick="addCart( '{{ produit.produit.pk }}' ); return false;" class="btn-product btn-cart" title="Add to cart">{% trans 'Ajouter au panier' %}</a>

                                                </div><!-- End .product-action -->
                                            </div><!-- End .product-footer -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                                    {% endfor %}


                                    <div class="col-6 col-md-4 col-lg-4">
                                        <div class="product product-3 text-center">
                                            <figure class="product-media">
                                                <a href="product.html">
                                                    <img src="{% static 'assets/images/demos/demo-22/products/product-3.jpg' %}" alt="Product image" class="product-image">
                                                </a>

                                                <div class="product-action-vertical">
                                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                </div><!-- End .product-action-vertical -->
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <div class="product-cat">
                                                    <a href="#">Power Tools</a>
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a href="product.html">Makita XSH03Z</a></h3><!-- End .product-title -->
                                                <div class="product-price">
                                                    $119.99
                                                </div><!-- End .product-price -->
                                            </div><!-- End .product-body -->

                                            <div class="product-footer">
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 40%;"></div><!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                    <span class="ratings-text">( 2 Reviews )</span>
                                                </div><!-- End .rating-container -->

                                                <div class="product-nav product-nav-dots">
                                                    <a href="#" class="active" style="background: #cc6666;"><span class="sr-only">Color name</span></a>
                                                    <a href="#" style="background: #ccccff;"><span class="sr-only">Color name</span></a>
                                                </div><!-- End .product-nav -->

                                                <div class="product-action">
                                                    <a href="#" class="btn-product btn-cart" title="Add to cart"></a>
                                                    <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"></a>
                                                </div><!-- End .product-action -->
                                            </div><!-- End .product-footer -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

                                    <div class="col-6 col-md-4 col-lg-4">
                                        <div class="product product-3 text-center">
                                            <figure class="product-media">
                                                <span class="product-label label-sale">Sale</span>
                                                <span class="product-label label-new">New</span>
                                                <a href="product.html">
                                                    <img src="{% static 'assets/images/demos/demo-22/products/product-4.jpg' %}" alt="Product image" class="product-image">
                                                </a>

                                                <div class="product-action-vertical">
                                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                </div><!-- End .product-action-vertical -->
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <div class="product-cat">
                                                    <a href="#">Air Tools & Compressors</a>
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a href="product.html">DEWALT DCE511B</a></h3><!-- End .product-title -->
                                                <div class="product-price">
                                                    <span class="new-price">$100.99</span>
                                                    <span class="old-price">Was $130.00</span>
                                                </div><!-- End .product-price -->
                                            </div><!-- End .product-body -->

                                            <div class="product-footer">
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 0%;"></div><!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                    <span class="ratings-text">( 0 Reviews )</span>
                                                </div><!-- End .rating-container -->

                                                <div class="product-nav product-nav-dots">
                                                    <a href="#" class="active" style="background: #ffca51;"><span class="sr-only">Color name</span></a>
                                                    <a href="#" style="background: #bb8379;"><span class="sr-only">Color name</span></a>
                                                    <a href="#" style="background: #666666;"><span class="sr-only">Color name</span></a>
                                                </div><!-- End .product-nav -->

                                                <div class="product-action">
                                                    <a href="#" class="btn-product btn-cart" title="Add to cart"></a>
                                                    <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"></a>
                                                </div><!-- End .product-action -->
                                            </div><!-- End .product-footer -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

                                    <div class="col-6 col-md-4 col-lg-4">
                                        <div class="product product-3 text-center">
                                            <figure class="product-media">
                                                <a href="product.html">
                                                    <img src="{% static 'assets/images/demos/demo-22/products/product-5.jpg' %}" alt="Product image" class="product-image">
                                                </a>

                                                <div class="product-action-vertical">
                                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                </div><!-- End .product-action-vertical -->
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <div class="product-cat">
                                                    <a href="#">Hand Tools</a>
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a href="product.html">TEKTON 30603 Fiberglass</a></h3><!-- End .product-title -->
                                                <div class="product-price">
                                                    $8.99
                                                </div><!-- End .product-price -->
                                            </div><!-- End .product-body -->

                                            <div class="product-footer">
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                    <span class="ratings-text">( 4 Reviews )</span>
                                                </div><!-- End .rating-container -->

                                                <div class="product-action">
                                                    <a href="#" class="btn-product btn-cart" title="Add to cart"></a>
                                                    <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"></a>
                                                </div><!-- End .product-action -->
                                            </div><!-- End .product-footer -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

                                    <div class="col-6 col-md-4 col-lg-4">
                                        <div class="product product-3 text-center">
                                            <figure class="product-media">
                                                <a href="product.html">
                                                    <img src="{% static 'assets/images/demos/demo-22/products/product-6.jpg' %}" alt="Product image" class="product-image">
                                                </a>

                                                <div class="product-action-vertical">
                                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                </div><!-- End .product-action-vertical -->
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <div class="product-cat">
                                                    <a href="#">Power Tool Accessories</a>
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a href="product.html">DEWALT DCB205 20V</a></h3><!-- End .product-title -->
                                                <div class="product-price">
                                                    $69.94
                                                </div><!-- End .product-price -->
                                            </div><!-- End .product-body -->

                                            <div class="product-footer">
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                    <span class="ratings-text">( 4 Reviews )</span>
                                                </div><!-- End .rating-container -->

                                                <div class="product-action">
                                                    <a href="#" class="btn-product btn-cart" title="Add to cart"></a>
                                                    <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"></a>
                                                </div><!-- End .product-action -->
                                            </div><!-- End .product-footer -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

                                    <div class="col-6 col-md-4 col-lg-4">
                                        <div class="product product-3 text-center">
                                            <figure class="product-media">
                                                <span class="product-label label-sale">Sale</span>
                                                <a href="product.html">
                                                    <img src="{% static 'assets/images/demos/demo-22/products/product-7.jpg' %}" alt="Product image" class="product-image">
                                                </a>

                                                <div class="product-action-vertical">
                                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                </div><!-- End .product-action-vertical -->
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <div class="product-cat">
                                                    <a href="#">Power Tools</a>
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a href="product.html">BLACK+DECKER BDEJS600C</a></h3><!-- End .product-title -->
                                                <div class="product-price">
                                                    <span class="new-price">$42.99</span>
                                                    <span class="old-price">Was $67.50</span>
                                                </div><!-- End .product-price -->
                                            </div><!-- End .product-body -->

                                            <div class="product-footer">
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                    <span class="ratings-text">( 3 Reviews )</span>
                                                </div><!-- End .rating-container -->

                                                <div class="product-nav product-nav-dots">
                                                    <a href="#" class="active" style="background: #78645f;"><span class="sr-only">Color name</span></a>
                                                    <a href="#" style="background: #b89474;"><span class="sr-only">Color name</span></a>
                                                    <a href="#" style="background: #666666;"><span class="sr-only">Color name</span></a>
                                                </div><!-- End .product-nav -->

                                                <div class="product-action">
                                                    <a href="#" class="btn-product btn-cart" title="Add to cart"></a>
                                                    <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"></a>
                                                </div><!-- End .product-action -->
                                            </div><!-- End .product-footer -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->



                                </div><!-- End .row -->

                            </div><!-- End .products -->

                			<nav aria-label="Page navigation">
							    <ul class="pagination justify-content-center">
                                    {% if  page_obj.has_previous %}
							        <li class="page-item disabled">
							            <a class="page-link page-link-prev" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous" tabindex="-1" aria-disabled="true">
							                <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
							            </a>
							        </li>
                                    {% endif %}
							        <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ page_obj.number }}</a></li>

							        <li class="page-item-total">of {{ page_obj.paginator.num_pages }}</li>
                                    {% if page_obj.has_next %}
							        <li class="page-item">
							            <a class="page-link page-link-next" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
							                Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
							            </a>
							        </li>
                                    {% endif %}
							    </ul>
							</nav>
                		</div><!-- End .col-lg-9 -->
                		<aside class="col-lg-3 order-lg-first">
                			<div class="sidebar sidebar-shop">
                				<div class="widget widget-clean">
                					<label>Filters:</label>
                					<a href="#" class="sidebar-filter-clear">{% trans 'Efacer tout' %}</a>
                				</div><!-- End .widget widget-clean -->

                				<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
									        Category
									    </a>
									</h3><!-- End .widget-title -->

									<div class="collapse show" id="widget-1">
										<div class="widget-body">
											<div class="filter-items filter-items-count categorie">
                                                {% for c in categorie %}
												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" name="filterStatus" value="{{ c.categorie.nom }}" id="{{ c.categorie.pk }}">
														<label class="custom-control-label" for="{{ c.categorie.pk }}">{{ c.categorie.nom }}</label>
													</div><!-- End .custom-checkbox -->
													<span class="item-count">{{ c.length }}</span>
												</div><!-- End .filter-item -->
                                                {% endfor %}

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="cat-2">
														<label class="custom-control-label" for="cat-2">T-shirts</label>
													</div><!-- End .custom-checkbox -->
													<span class="item-count">0</span>
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="cat-3">
														<label class="custom-control-label" for="cat-3">Bags</label>
													</div><!-- End .custom-checkbox -->
													<span class="item-count">4</span>
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="cat-4">
														<label class="custom-control-label" for="cat-4">Jackets</label>
													</div><!-- End .custom-checkbox -->
													<span class="item-count">2</span>
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="cat-5">
														<label class="custom-control-label" for="cat-5">Shoes</label>
													</div><!-- End .custom-checkbox -->
													<span class="item-count">2</span>
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="cat-6">
														<label class="custom-control-label" for="cat-6">Jumpers</label>
													</div><!-- End .custom-checkbox -->
													<span class="item-count">1</span>
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="cat-7">
														<label class="custom-control-label" for="cat-7">Jeans</label>
													</div><!-- End .custom-checkbox -->
													<span class="item-count">1</span>
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="cat-8">
														<label class="custom-control-label" for="cat-8">Sportwear</label>
													</div><!-- End .custom-checkbox -->
													<span class="item-count">0</span>
												</div><!-- End .filter-item -->
											</div><!-- End .filter-items -->
										</div><!-- End .widget-body -->
									</div><!-- End .collapse -->
        						</div><!-- End .widget -->



        						<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true" aria-controls="widget-4">
									        Brand
									    </a>
									</h3><!-- End .widget-title -->

									<div class="collapse show" id="widget-4">
										<div class="widget-body">
											<div class="filter-items">
												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-1">
														<label class="custom-control-label" for="brand-1">Next</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-2">
														<label class="custom-control-label" for="brand-2">River Island</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-3">
														<label class="custom-control-label" for="brand-3">Geox</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-4">
														<label class="custom-control-label" for="brand-4">New Balance</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-5">
														<label class="custom-control-label" for="brand-5">UGG</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-6">
														<label class="custom-control-label" for="brand-6">F&F</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-7">
														<label class="custom-control-label" for="brand-7">Nike</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

											</div><!-- End .filter-items -->
										</div><!-- End .widget-body -->
									</div><!-- End .collapse -->
        						</div><!-- End .widget -->

        						<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true" aria-controls="widget-5">
									        {% trans 'Prix' %}
									    </a>
									</h3><!-- End .widget-title -->

									<div class="collapse show" id="widget-5">
										<div class="widget-body">
                                            <div class="filter-price">
                                                <div class="filter-price-text">
                                                    {% trans 'Echelle des prix:' %}
                                                    <span id="filter-price-range"></span>
                                                </div><!-- End .filter-price-text -->

                                                <div id="price-slider"></div><!-- End #price-slider -->
                                            </div><!-- End .filter-price -->
										</div><!-- End .widget-body -->
									</div><!-- End .collapse -->
        						</div><!-- End .widget -->
                			</div><!-- End .sidebar sidebar-shop -->
                		</aside><!-- End .col-lg-3 -->
                	</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
            {% else %}
            <div class="error-content text-center" style="background-image: url(assets/images/backgrounds/error-bg.jpg)">
            	<div class="container">
            		<h1 class="error-title">Error 404</h1><!-- End .error-title -->
            		<p>{% trans "Le produit recherché n'existe pas." %}</p>
            		<a href="{% url 'home'  %}" class="btn btn-outline-primary-2 btn-minwidth-lg">
            			<span>{% trans "Retour à la page d'acceuil" %}</span>
            			<i class="icon-long-arrow-right"></i>
            		</a>
            	</div><!-- End .container -->
        	</div><!-- End .error-content text-center -->
            {% endif %}
        </main><!-- End .main -->
{% endblock %}


{% block javascript %}
<script type="text/javascript">


    $("input[name='filterStatus']").change( function() {
        if ( $("input[name='filterStatus']:checked").length > 0){
            $(".all_product").hide();
            $("input[name='filterStatus']:checked").each( function() {
                var values = $(this).val();

                $(".categorie b:contains(" + values +")").closest(".all_product").show();

            });
        } else {
            $(".all_product").show();
        }

    });

   all_product = [1,3] ;

$.ajax({
        url: "{% url 'all_tables_products' %}",

        success: function(response){
            all_product = response.products;

            for(var i=0; i<all_product.length ; i++){
            //alert(JSON.stringify(all_product[i].product_data));
            }
        },
        error: function(response){
            alert('co');
        }

    }) ;



    if ( typeof noUiSlider === 'object' ) {
		var priceSlider  = document.getElementById('price-slider');

		// Check if #price-slider elem is exists if not return
		// to prevent error logs
		//if (priceSlider == null) return;

		noUiSlider.create(priceSlider, {
			start: [ 0, 900 ],
			connect: true,
			step: 50,
			margin: 200,
			range: {
				'min': 0,
				'max': 1000
			},
			tooltips: true,
			format: wNumb({
		        decimals: 0,
		        prefix: '$'
		    })
		});

		// Update Price Range
		priceSlider.noUiSlider.on('update', function(values){
		    a = JSON.stringify(all_product) ;
		    b = JSON.parse(a) ;
		    console.log( JSON.parse(a) ) ;
			let filteredItems = filterItems( b , values) ;
			//alert(filteredItems);
            renderItems(filteredItems) ;
		});
		alert('ho');
	}


    function renderItems(items) {

        var display_products = document.querySelector('.display')
            display_products.innerHTML = items.map(item =>
                `
                <div class="col-6 col-md-4 col-lg-4 all_product">
                    <div class="product product-3 text-center">
                        <figure class="product-media">
                            <span class="product-label label-sale">Sale</span>
                                <a href="product/${item.product_pk}">
                                    <img src="${item.product_data.image1}" alt="Product image" class="product-image">
                                </a>

                            <div class="product-action-vertical">
                                <a href='#'  onclick="addWishlist('${item.product_pk}'); return false;" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                            </div><!-- End .product-action-vertical -->
                        </figure><!-- End .product-media -->

                        <div class="product-body">
                            <div class="product-cat categorie">
                                <a href="#"><b>${item.product_categorie}</b></a>
                            </div><!-- End .product-cat -->
                            <h3 class="product-title"><a href="product/${item.product_pk}">${item.product_data.nom}</a</h3><!-- End .product-title -->
                            <div class="product-price">
                                <span class="new-price">$${item.product_data.prix}</span>
                                <span class="old-price">Was $330.00</span>
                            </div><!-- End .product-price -->
                        </div><!-- End .product-body -->

                        <div class="product-footer">
                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                </div><!-- End .ratings -->
                                <span class="ratings-text">( Reviews )</span>
                            </div><!-- End .rating-container -->

                            <div class="product-action">
                                <a href="#"   onclick="addCart(${item.product_pk}); return false;" class="btn-product btn-cart" title="Add to cart"></a>
                                <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"></a>
                            </div><!-- End .product-action -->
                        </div><!-- End .product-footer -->
                    </div><!-- End .product -->
                </div>
            `
        ).join('')
    }


    function addCart(prod){

            $.ajax({
                url: "{% url 'verify_connection' %}",

                //type: "POST",
                success: function( response ){
                    $.ajax({
                        url: "{% url 'add_cart' %}",
                        data:{"id_produit": prod},
                        //type: "POST",
                        success: function( response ){
                            document.getElementById('id_cart_count').innerHTML = response.cart_number ;
                            swal("Ajout au panier!", "Le produit a été bien ajouté au panier!", "success");

                        },

                        error: function( response ){

                        }

                    });

                },

                error: function( response ){

                       document.getElementById('link_login').click();



                       //swal("Oops!", "Vous n'etes pas connecte!", "error");

                }

            });





    }

    function addWishlist(prod){


            $.ajax({
                url: "{% url 'verify_connection' %}",

                //type: "POST",
                success: function( response ){
                    $.ajax({
                        url: "{% url 'add_wishlist' %}",
                        data:{"id_produit": prod},
                        //type: "POST",
                        success: function( response ){
                            document.getElementById('id_wishlist_count').innerHTML = response.wishlist_number ;
                            swal("Ajout aux souhaits!", "Le produit a été bien ajouté aux souhaits!", "success");

                        },

                        error: function( response ){
                            swal("Attention!", "Ce produit est deja dans vos souhaits", "warning");
                        }

                    });

                },

                error: function( response ){
                    document.getElementById('link_login').click();
                    //alert('you are not not connected');
                }

            });




    }




</script>

{% endblock %}


