
{% extends 'home/index22.html' %}

{% load static %}
{% load i18n %}


{% block title %}
    <title>GTI-Profil</title>
{% endblock %}

{% block main %}
<main class="main">

    <div class="container ">
        <div class="row" >

            <div class="col-sm-2 mx-auto mt-4">
                <a href="#" class="pull-right"><img title="profile image" class="img-circle img-responsive" style="height:200px; width:200px;" src="{% static 'assets_home/images/user.png' %}"></a>

            </div>

        </div>
        <div class="row">


            <div class="col-sm-9 mx-auto ">





                        <hr>

                          <form class="form" action="##" method="post" id="updateApp">
                              {% csrf_token %}
                              <div class="row">
								  {% for field in UpForm %}
                                  <div class="form-group col">

                                      <div class="col-xs-6">
                                          {{ field.label_tag }}
                                          {{ field }}

										  {% if field.id_for_label == 'id_contact' %}
										  <div class="invalid-feedback"><h6 class="text-danger" >{% trans 'Entrer un contact valide' %}</h6></div>
										  {% endif %}

										  {% if field.id_for_label == 'id_email' %}
										  <div class="invalid-feedback"><h6 class="text-danger" >{% trans 'Cet email existe deja' %}</h6></div>
										  {% endif %}
                                      </div>
                                  </div>
								  	{% if field.id_for_label == 'id_last_name' %}
								  	<div class="w-100"></div>
								  	{% endif %}
                                  {% endfor %}
                                  <div class="w-100"></div>


                                  <div class="form-group ">
                                       <div class="col-xs-12 ">
                                            <br>
                                            <button class="btn btn-outline-danger mr-4 mt-2" onclick="logoutUser();" type="button"><i class="icon icon-off"></i>{% trans 'Se deconnecter' %}</button>
                                            <button class="btn btn-outline-success mr-4 mt-2" type="submit"><i class="icon icon-refresh"></i>{% trans 'Mise a jour' %}</button>

                                            <a class="btn btn-outline-success mr-4 mt-2" href="{% url 'pass' %}"><i class="icon icon-refresh"></i>{% trans 'Changer Password' %}</a>
                                       </div>
                                  </div>

                              </div>
                          </form>

                      <hr>







            </div><!--/col-9-->
        </div><!--/row-->
    </div>
</main>
{% endblock %}


{% block javascript %}
<script>

function deleteUser(){

			$.ajax({
				url: "{% url 'verify_connection' %}",

				success: function(response){

					$.ajax({
						url: "{% url 'delete' %}",
						//data:{"id_produit": prod},
						//type: "POST",
						success: function( response ){



							//window.location.reload();
							document.location.href = "{% url 'home' %}"
							//alert('user delete sucessfully');

						},

						error: function( response ){

						}

					});


				},

				error: function(response){

					document.location.href = "{% url 'home' %}" ;

				}

			});

        }



function logoutUser(){

			$.ajax({
				url: "{% url 'verify_connection' %}",

				success: function(response){

					$.ajax({
						url: "{% url 'logout' %}",
						//data:{"id_produit": prod},
						//type: "POST",
						success: function( response ){



							//window.location.reload();
							//document.location.href = "{% url 'home' %}"
							alert('user logout sucessfully');

						},

						error: function( response ){

						}

					});


				},

				error: function(response){

					document.location.href = "{% url 'home' %}" ;

				}

			});

        }







$(document).ready(function () {

   $('#updateApp').submit(function () {
                // create an AJAX call
                $.ajax({
                	url: "{% url 'verify_connection' %}",

                	success: function( response ){

                		$.ajax({
							data: $('#updateApp').serialize(), // get the form data
							type: $('#updateApp').attr('method'), // GET or POST
							url: "{% url 'up' %}",
							// on success
							success: function (response) {

								swal("Mise a jour!", "Votre profil est mise a jour avec succes!", "success").then( function () { location.reload()  });

							},
							// on error
							error: function (response) {
								// alert the error if any error occured

								if(response.responseJSON.email){
								$('input[type="email"]#id_email').addClass("is-invalid") ;
								}

								if(response.responseJSON.contact){
								document.getElementById('id_contact').classList.add('is-invalid');
								}


								console.log(response.responseJSON.contact);
							}
						});

                	},

                	error: function( response ){

                		window.location.href = "{% url 'home' %}" ;

                	}

                });


                return false;
            });
		})
</script>

{% endblock %}
