
{% extends 'home/index22.html' %}

{% load static %}

{% block main %}
<main class="main">

    <div class="container ">
        <div class="row" >

            <div class=" mx-auto mt-4">
                <h4>Change your password</h4>

            </div>

        </div>
        <div class="row">


            <div class="col-sm-9 mx-auto ">





                        <hr>

                          <form class="form" action="##" method="post" id="changePass">
							  {% csrf_token %}

							  {% for field in ChangeForm %}
                                  <div class="form-group col">

                                      <div class="col-xs-6">
                                          {{ field.label_tag }}
                                          {{ field }}

										  {% if field.id_for_label == 'id_password1' %}
										  <div class="invalid-feedback"><h6 class="text-danger" >L'ancien mot de passe est incorrect</h6></div>
										  {% endif %}

										  {% if field.id_for_label == 'id_password3' %}
										  <div class="invalid-feedback"><h6 class="text-danger" >Le mot de passe de confirmation est invalide</h6></div>
										  {% endif %}

                                      </div>
                                  </div>
                                  {% endfor %}


                                  <div class="form-group ">
                                       <div class="col-xs-12">
                                            <br>
                                            <button class="btn btn-outline-success" type="submit"><i class="icon icon-refresh"></i>Update</button>
                                       </div>
                                  </div>
                          </form>

                      <hr>







            </div><!--/col-9-->
        </div><!--/row-->
    </div>
</main>
{% endblock %}




{% block javascript %}
<script>
$(document).ready(function () {

   $('#changePass').submit(function () {

   				$.ajax({
   					url: "{% url 'verify_connection' %}",

   					success: function( response ){

   						// create an AJAX call
						$.ajax({
							data: $('#changePass').serialize(), // get the form data
							type: $('#changePass').attr('method'), // GET or POST
							url: "{% url 'change' %}",
							// on success
							success: function (response) {
								$('input[type="password"]#id_password1').val('');
								$('input[type="password"]#id_password2').val('');
								$('input[type="password"]#id_password3').val('');
								swal("Mise a jour!", "Votre mot de passe a ete change avec succes!", "success");

							},
							// on error
							error: function (response) {
								// alert the error if any error occured

								if(response.responseJSON.old){
								$('input[type="password"]#id_password1').addClass("is-invalid") ;
								}else{
								$('input[type="password"]#id_password1').removeClass("is-invalid") ;
								}

								if(response.responseJSON.new){
								$('input[type="password"]#id_password3').addClass("is-invalid") ;
								}


								console.log(response.responseJSON.contact);
							}
						});

   					},


   					error: function( response ){

   						document.location.href = "{% url 'home' %}" ;

   					}
   				});

			 return false;
            });
		})
</script>

{% endblock %}
