{% extends 'home/index22.html' %}

{% load static %}

{% block main %}
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Bienvenue {{ user }} ! Veuillez verifier votre boite mail pour confirmer votre addresse email. Merci .</h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
        </main><!-- End .main -->
{% endblock %}


