{% extends 'DashBoard/index.html' %}

{% load static %}


{% block other %}
    <section class="section">
     

      {% if type == 'categorie' %}

        <div class="col-12">
            <div class="card">
            <div class="card-body">
              <h5 class="card-title">Modification de Categorie</h5>

              <!-- Vertical Form -->
              <form class="row g-3" id="form_categorie" method="post">
                {% csrf_token %}

                {% for field in form %}
                  <div class="col-12 has-error ">
                    {{ field.label_tag }}
                    {{ field }}

                    {% if field.id_for_label == 'id_image' %}

                        <div class="invalid-feedback">Entrer svp, une image valide!</div>

                    {% endif %}

                    {% if field.id_for_label == 'id_nom' %}

                        <div class="invalid-feedback">Un categorie avec ce nom existe deja!</div>

                    {% endif %}
                  </div>
                {% endfor %}
                <div class="text-center">
                  <button type="submit" onclick="update_categorie('{{id}}')" class="btn btn-primary">Valider</button>
                  <button type="reset" class="btn btn-secondary">Réinitialiser</button>
                </div>
              </form><!-- Vertical Form -->

            </div>
          </div>
        </div><!-- End Recent Sales -->

      {% endif %}

      {% if type == 'sousCategorie' %}

        <div class="col-12">
              <div class="card">
            <div class="card-body">
              <h5 class="card-title">Modification de Sous-Categorie</h5>

              <!-- Vertical Form -->
              <form class="row g-3" id="form_sous_categorie" method="post">
                {% csrf_token %}

                {% for field in form %}

                  <div class="col-12 has-error">
                    {{ field.label_tag }}
                    {{ field }}

                    {% if field.id_for_label == 'id_nom' %}

                        <div class="invalid-feedback">Un sous-categorie avec ce nom existe deja</div>

                    {% endif %}

                  </div>

                {% endfor %}

                <div class="text-center">
                  <button type="submit" onclick="update_sous_categorie('{{id}}') ;" class="btn btn-primary">Valider</button>
                  <button type="reset" class="btn btn-secondary">Réinitialiser</button>
                </div>
              </form><!-- Vertical Form -->

            </div>
          </div>
        </div><!-- End Recent Sales -->

      {% endif %}

      {% if type == 'product' %}

      <div class="col-12">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Modification de Produit</h5>

              <!-- Vertical Form -->
              <form class="row g-3" id="form_product" method="post">
                {% csrf_token %}

                {% for field in form %}
                  <div class="col-12 has-error ">
                    {{ field.label_tag }}
                    {{ field }}

                    {% if field.id_for_label == 'id_image1' %}

                        <div class="invalid-feedback">Please enter an Image!</div>

                    {% endif %}
                    {% if field.id_for_label == 'id_image2' %}

                        <div class="invalid-feedback">Please enter an Image!</div>

                    {% endif %}
                    {% if field.id_for_label == 'id_image3' %}

                        <div class="invalid-feedback">Please enter an Image!</div>

                    {% endif %}
                    {% if field.id_for_label == 'id_sous_categorie' %}

                        <div class="invalid-feedback">Entrer s'il vous plait un sous-categorie qui relève d'une catégorie!</div>

                    {% endif %}
                  </div>
                {% endfor %}
                <div class="text-center">
                  <button type="submit" onclick="update_product('{{id}}') ;" class="btn btn-primary">Valider</button>
                  <button type="reset" class="btn btn-secondary">Réinitialiser</button>
                </div>
              </form><!-- Vertical Form -->

            </div>
          </div>
      </div><!-- End Recent Sales -->

      {% endif %}


    </section>
{% endblock %}

{% block script %}

<script>

    function is_connected(){
        $.ajax({
            url: "{% url 'verify_connection' %}",
            success: function(response){
                return true ;
            },
            error: function(response){
                return false ;
            }

        })

    }

 
    function update_categorie(prod){

          $('#form_categorie').submit(function () {
            // create an AJAX call
            //donne = {'data' : $(this).serialize() , 'superuser' : 0 , 'add': 1 } ;
            var form_data = new FormData(this) ;
            form_data.append('id', prod);

            if(is_connected()){

              $.ajax({
                data: form_data , // get the form data
                type: $(this).attr('method'), // GET or POST
                url: "{% url 'update_categorie' %}",
                enctype: "multipart/form-data",
                processData: false,
                contentType: false,
                // on success
                success: function (response) {

                    swal('Modifié' , 'Categorie modifié avec succés', 'success').then(function() { location.reload(); });
                },
                // on error
                error: function (response) {
                    // alert the error if any error occured



                    if(response.responseJSON.image){
                      document.getElementById('id_image').classList.add('is-invalid');
                    }

                    if(response.responseJSON.nom){
                    document.getElementById('id_contact').classList.add('is-invalid');
                    }





                }
            });

            }else{
              
                document.location.href = "{% url 'login_admin' %}" ;
            }
            
            return false;
          });


}




  function update_sous_categorie(prod){

        $('#form_sous_categorie').submit(function () {
        // create an AJAX call
        //donne = {'data' : $(this).serialize() , 'superuser' : 0 , 'add': 1 } ;
        if (is_connected()){

          var form_data = new FormData(this);
        form_data.append('id', prod);
        $.ajax({
            data: form_data , // get the form data
            type: $(this).attr('method'), // GET or POST
            url: "{% url 'update_sousCategorie' %}",
            enctype: "multipart/form-data",
            processData: false,
            contentType: false,
            
            // on success
            success: function (response) {

                //$(this).trigger('reset');
                swal('Modifié' , 'Sous-categorie modifié avec succés', 'success').then(function() { location.reload(); });
            },
            // on error
            error: function (response) {
                // alert the error if any error occured



                if(response.responseJSON.nom){
                  document.getElementById('id_image').classList.add('is-invalid');
                }







            }
        });
          

        }else{

          document.location.href = "{% url 'login_admin' %}" ;
        }
        
        return false;
        });


}

  function update_product(prod){

                $('#form_product').submit(function () {

                //donne = {'data' : , } ;
                if(is_connected()){


                  var form_data = new FormData(this) ;
                form_data.append('id', prod);
                $.ajax({
                    data: form_data , // get the form data
                    type: $(this).attr('method'), // GET or POST
                    url: "{% url 'update_product' %}",
                    enctype : "multipart/form-data",
                    processData: false,
                    contentType: false,

                    // on success
                    success: function (response) {

                        $(this).trigger('reset');
                        swal('Modifié' , 'Produit modifié avec succés', 'success').then(function() { location.reload(); });
                    },
                    // on error
                    error: function (response) {
                        // alert the error if any error occured



                        if(response.responseJSON.image1){
                          document.getElementById('id_image1').classList.add('is-invalid');
                        }
                        if(response.responseJSON.image2){
                          document.getElementById('id_image2').classList.add('is-invalid');
                        }
                        if(response.responseJSON.image3){
                          document.getElementById('id_image3').classList.add('is-invalid');
                        }

                        if(response.responseJSON.category_not_exist){
                        document.getElementById('id_sous_categorie').classList.add('is-invalid');
                        }





                    }
                });



                }else{

                    document.location.href = "{% url 'login_admin' %}" ;

                }
                
                return false;
            });

            }

</script>

{% endblock %}



