<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - NiceAdmin</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'dash/img/favicon.png' %}" rel="icon">
  <link href="{% static 'dash/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'dash/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'dash/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'dash/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'dash/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'dash/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'dash/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'dash/vendor/simple-datatables/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'assets_home/css/intlTelInput.css' %}">

  <!-- Template Main CSS File -->
  <link href="{% static 'dash/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.4.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
{% block dash %}
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{% static 'assets_home/images/icons/gti-logo.png' %}" alt="">
        <span class="d-none d-lg-block">GTI ShopAdmin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Rechercher" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->


        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{% static 'dash/img/blank-profile-picture.png' %}" alt="Profile" class="rounded-circle">
            {% if user %}
            <span class="d-none d-md-block dropdown-toggle ps-2"> {{ user.first_name }}  {{ user.last_name }} </span>
            {% else %}
            <span class="d-none d-md-block dropdown-toggle ps-2"></span>
            {% endif %}
          </a><!-- End Profile Image Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            {% if user %}
            <li class="dropdown-header">
              <h6>{{ user.first_name }} {{ user.last_name }}</h6>

            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'profile' %}">
                <i class="bi bi-person"></i>
                <span>Mon Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>





            <li>
              <button class="dropdown-item d-flex align-items-center" onclick="logoutUser() ;">
                <i class="bi bi-box-arrow-right"></i>
                <span>Se deconnecter</span>
              </button>
            </li>
          {% else %}
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'register_admin' %}">
                <i class="bi bi-person"></i>
                <span>Créer un compte</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'login_admin' %}">
                <i class="bi bi-gear"></i>
                <span>Se connecter</span>
              </a>
            </li>
          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->
      {% endif %}
      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-grid"></i>
          <span>Tableau de bord</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Tables</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'dash_tables' intitule='user' %}">
              <i class="bi bi-circle"></i><span>Utilisateurs</span>
            </a>
          </li>
          <li>
            <a href="{% url 'dash_tables' intitule='categorie' %}">
              <i class="bi bi-circle"></i><span>Categorie</span>
            </a>
          </li>
          <li>
            <a href="{% url 'dash_tables' intitule='sous_categorie' %}">
              <i class="bi bi-circle"></i><span>Sous-categorie</span>
            </a>
          </li>
          <li>
            <a href="{% url 'dash_tables' intitule='product' %}">
              <i class="bi bi-circle"></i><span>Produits</span>
            </a>
          </li>
          <li>
            <a href="{% url 'dash_tables' intitule='review' %}">
              <i class="bi bi-circle"></i><span>Avis</span>
            </a>
          </li>
          <li>
            <a href="{% url 'dash_tables' intitule='commande' %}">
              <i class="bi bi-circle"></i><span>Commandes</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav -->


      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'profile' %}">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->



      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'register_admin' %}">
          <i class="bi bi-card-list"></i>
          <span>Créer un compte</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'login_admin' %}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Se connecter</span>
        </a>
      </li><!-- End Login Page Nav -->





    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Tableau de bord</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Acceuil</a></li>
          <li class="breadcrumb-item active">Tableau de bord</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    {% block other %}
    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filtre</h6>
                    </li>

                    <li><a class="dropdown-item" href="#" onclick="getSalesTime('day'); return false ;">Ce jour</a></li>
                    <li><a class="dropdown-item" href="#" onclick="getSalesTime('month'); return false ;">Ce mois</a></li>
                    <li><a class="dropdown-item" href="#" onclick="getSalesTime('year'); return false ;">Cette année</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Ventes <span id="span_sales">| Ce jour</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3 display_sales">
                      <h6>{{ get_sales.sales }}</h6>
                      {% if get_sales.percent == None %}

                      {% elif get_sales.percent > 0 %}
                        <span class="text-success small pt-1 fw-bold">{{ get_sales.percent }}%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                      {% else %}
                           <span class="text-danger small pt-1 fw-bold">{{ get_sales.percent }}%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                      {% endif %}

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#" onclick="getRevenueTime('day'); return false ;">Ce jour</a></li>
                    <li><a class="dropdown-item" href="#" onclick="getRevenueTime('month'); return false ;">Ce mois</a></li>
                    <li><a class="dropdown-item" href="#" onclick="getRevenueTime('year'); return false ;">Cette année</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Revenue <span id="span_revenue">| Ce mois</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-currency-dollar"></i>
                    </div>
                    <div class="ps-3 display_revenue">
                      <h6>${{ get_revenue.revenue }}</h6>
                      {% if get_revenue.percent == None %}

                      {% elif get_revenue.percent > 0 %}
                        <span class="text-success small pt-1 fw-bold">{{ get_revenue.percent }}%</span> <span class="text-muted small pt-2 ps-1">accroitre</span>
                      {% else %}
                           <span class="text-danger small pt-1 fw-bold">{{ get_revenue.percent }}%</span> <span class="text-muted small pt-2 ps-1">decroitre</span>
                      {% endif %}

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#" onclick="getCustomerTime('day'); return false ;">Ce jour</a></li>
                    <li><a class="dropdown-item" href="#" onclick="getCustomerTime('month'); return false ;">Ce mois</a></li>
                    <li><a class="dropdown-item" href="#" onclick="getCustomerTime('year'); return false ;">Cette année</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Clients <span id="span_customer">| Cette année</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3 display_customer">
                      <h6>{{ get_customer.customer }}</h6>
                      {% if get_customer.percent == None %}

                      {% elif get_customer.percent > 0 %}
                        <span class="text-success small pt-1 fw-bold">{{ get_customer.percent }}%</span> <span class="text-muted small pt-2 ps-1">accroitre</span>
                      {% else %}
                           <span class="text-danger small pt-1 fw-bold">{{ get_customer.percent }}%</span> <span class="text-muted small pt-2 ps-1">decroitre</span>
                      {% endif %}
                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->

            <!-- Reports -->
            <div class="col-12">
              <div class="card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item"  href="#" onclick="chart('day'); return false ;">Ce jour</a></li>
                    <li><a class="dropdown-item" href="#" onclick="chart('month'); return false ;">Ce mois</a></li>
                    <li><a class="dropdown-item" href="#" onclick="chart('year'); return false ;">Cette année</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Rapports <span id="span_chart"> | Ce jour</span></h5>

                  <!-- Line Chart -->
                  <div id="reportsChart"></div>

                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      $.ajax({
                        url: "{% url 'get_chart' %}" ,
                        data: {'time': 'day' },

                        success: function(response){
                          var data_axis = response.data ;
                          console.log(data_axis) ;
                          new ApexCharts(document.querySelector("#reportsChart"), {
                            series: [{
                              name: 'Sales',
                              data: data_axis[0],
                            }, {
                              name: 'Revenue',
                              data: data_axis[1]
                            }, {
                              name: 'Customers',
                              data: data_axis[2]
                            }],
                            chart: {
                              height: 350,
                              type: 'area',
                              toolbar: {
                                show: false
                              },
                            },
                            markers: {
                              size: 4
                            },
                            colors: ['#4154f1', '#2eca6a', '#ff771d'],
                            fill: {
                              type: "gradient",
                              gradient: {
                                shadeIntensity: 1,
                                opacityFrom: 0.3,
                                opacityTo: 0.4,
                                stops: [0, 90, 100]
                              }
                            },
                            dataLabels: {
                              enabled: false
                            },
                            stroke: {
                              curve: 'smooth',
                              width: 2
                            },
                            xaxis: {
                              type: 'datetime',
                              categories: response.intervals
                            },
                            tooltip: {
                              x: {
                                format: 'dd/MM/yy HH:mm'
                              },
                            }
                          }).render();

                        },

                        error: function(response){



                        }

                      });

                    });
                  </script>
                  <!-- End Line Chart -->

                </div>

              </div>
            </div><!-- End Reports -->

            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Ce jour</a></li>
                    <li><a class="dropdown-item" href="#">Ce mois</a></li>
                    <li><a class="dropdown-item" href="#">Cette année</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Ventes récentes <span>| Ce jour</span></h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Client</th>
                        <th scope="col">Produits</th>
                        <th scope="col">Statut</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for command in recent_sales %}
                      <tr>
                        <th rowspan="" scope="row"><a href="#">{{ command.commande.pk }}</a></th>
                        <td rowspan="" >{{ command.user }}</td>
                        <td>
                           <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Produits Prix et Quantite
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                  {% for product in command.product_commande %}
                                  <button class="dropdown-item" type="button">{{ product.product.nom }}  <b>{{ product.product.prix }} <b>{{ product.quantite }}</b></button>
                                 {% endfor %}
                                </div>
                              </div>
                        </td>
                        {% if command.commande.valide == 1 %}
                          <td rowspan="" ><span class="badge bg-success">Approuvé</span></td>
                        {% else %}
                          {% if command.commande.valide == 0 and command.commande.pending == 0 %}
                          <td rowspan="" ><span class="badge bg-danger">Rejeté</span></td>
                          {% else %}
                          <td rowspan="" ><span class="badge bg-warning">En cours</span></td>
                          {% endif %}
                        {% endif %}
                      </tr>

                    {% endfor %}


                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->

            <!-- Top Selling -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#" onclick="getTopTime('day') ; return false ;">Ce jour</a></li>
                    <li><a class="dropdown-item" href="#" onclick="getTopTime('month') ; return false ;">Ce mois</a></li>
                    <li><a class="dropdown-item" href="#" onclick="getTopTime('year') ;return false ;">Cette année</a></li>
                  </ul>
                </div>

                <div class="card-body pb-0">
                  <h5 class="card-title">Les plus vendus <span id="span_top">| Ce jour</span></h5>

                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">Vue</th>
                        <th scope="col">Produit</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Vendu</th>
                        <th scope="col">Revenue</th>
                      </tr>
                    </thead>
                    <tbody class="display_top" >
                    {% for product in top_selling %}
                      <tr>
                        <th scope="row"><a href="#"><img src="{{product.produit.image1}}" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">{{ product.produit.nom }}</a></td>
                        <td>${{product.produit.prix}}</td>
                        <td class="fw-bold">{{ product.quantite }}</td>
                        <td>${{ product.revenue }}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Top Selling -->

          </div>
        </div><!-- End Left side columns -->




      </div>
    </section>
    {% endblock %}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin Eshop</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  {% endblock %}

  <!-- Vendor JS Files -->
  <script src="{% static 'dash/js/jquery.min.js' %}"></script>
  <script src="{% static 'dash/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'dash/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'dash/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'dash/vendor/chart.js/chart.min.js' %}"></script>
  <script src="{% static 'dash/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'dash/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'dash/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'dash/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'dash/vendor/php-email-form/validate.js' %}"></script>



  <script src="{% static 'dash/js/jquery.hoverIntent.min.js' %}"></script>
  <script src="{% static 'dash/js/jquery.waypoints.min.js' %}"></script>



  <script src="{% static 'dash/js/jquery.magnific-popup.min.js' %}"></script>

  <script src="{% static 'dash/css/sweetalert.min.js' %}"></script>
  <script src="{% static 'assets_home/css/intlTelInput.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'dash/js/main.js' %}"></script>

  <script>


    function logoutUser(){

			$.ajax({
				url: "{% url 'verify_connection' %}",

				success: function(response){

					$.ajax({
						url: "{% url 'logout' %}",
						//data:{"id_produit": prod},
						//type: "POST",
						success: function( response ){



							//window.location.reload();
							//document.location.href = "{% url 'home' %}"
							location.href = "{% url 'login_admin' %}" ;

						},

						error: function( response ){

						}

					});


				},

				error: function(response){

					document.location.href = "{% url 'login_admin' %}" ;

				}

			});

        }


        function logout(){

                $.ajax({
                    url: "{% url 'verify_connection' %}",

                    success: function(response){

                        $.ajax({
                            url: "{% url 'logout' %}",
                            //data:{"id_produit": prod},
                            //type: "POST",
                            success: function( response ){



                                window.location.reload();
                                //document.location.href = "{% url 'home' %}"
                                //alert('user logout sucessfully');

                            },

                            error: function( response ){

                            }

                        });


                    },

                    error: function(response){



                    }

                });

            }


         let inactivityTime = function(){
            let time ;
            function resetTimer(){
                clearTimeout(time);
                time = setTimeout(logout, 1000*1200);
            }
            resetTimer();
            const events = ["mousemove", "keydown", "scroll", "touchstart"];
            events.forEach((event) => {
              window.addEventListener(event, resetTimer);
            });



        };

        window.onload = function() {
            inactivityTime();
        }

        function getTopTime(temps){

          if(temps == 'day'){

            $.ajax({
              url: "{% url 'get_top' %}",
              data : {'time' : 'day'},

              success: function(response){

              var display_top = document.querySelector('.display_top');

              var span_top = document.getElementById('span_top') ;

              span_top.innerHTML = '| Aujourdhuit' ;
              a = JSON.stringify(response);
              b = JSON.parse(a) ;
              console.log(typeof(b)) ;
              display_top.innerHTML = b.map(item =>

              `
              <tr>
                  <th scope="row"><a href="#"><img src="${item.produit.image1}" alt=""></a></th>
                  <td><a href="#" class="text-primary fw-bold">${item.produit.nom}</a></td>
                  <td>${item.produit.prix}</td>
                  <td class="fw-bold">${item.quantite}</td>
                  <td>${ item.revenue }</td>
              </tr>
              `

              ).join('') ;

              },

              error: function(response){


              }

            });

          }else{

            if(temps == 'month'){

              $.ajax({
                url: "{% url 'get_top' %}",
                data : {'time' : 'month'},

                success: function(response){

                  var display_top = document.querySelector('.display_top');

                  var span_top = document.getElementById('span_top') ;

                  span_top.innerHTML = '| Ce Mois' ;
                  var this_arr = [] ;
                  this_arr = response ;
                  a = JSON.stringify(response);
                  b = JSON.parse(a) ;
                  console.log(b[0].produit_pk) ;

                  //for(var i =0 ; i< b.length ; i++){
                    //alert(JSON.stringify(b[i].produit)) ;
                  //}
                  display_top.innerHTML = b.map(item =>

                  `
                  <tr>
                    <th scope="row"><a href="#"><img src="${item.produit.image1}" alt=""></a></th>
                    <td><a href="#" class="text-primary fw-bold">${item.produit.nom}</a></td>
                    <td>${item.produit.prix}</td>
                    <td class="fw-bold">${item.quantite}</td>
                    <td>${ item.revenue }</td>
                  </tr>

                  `

                  ).join('') ;

                },

                 error: function(response){


                 }

              });

            }else{

               $.ajax({
                  url: "{% url 'get_top' %}",
                  data : {'time' : 'year'},

                  success: function(response){

                    var display_top = document.querySelector('.display_top');

                    var span_top = document.getElementById('span_top') ;

                    span_top.innerHTML = '| Cette année' ;

                    display_top.innerHTML = response.map(item =>

                    `
                    <tr>
                      <th scope="row"><a href="#"><img src="${item.produit.image1}" alt=""></a></th>
                      <td><a href="#" class="text-primary fw-bold">${item.produit.nom}</a></td>
                      <td>${item.produit.prix}</td>
                      <td class="fw-bold">${item.quantite}</td>
                      <td>${ item.revenue }</td>
                    </tr>
                    `

                    ).join('') ;

                  },

                   error: function(response){


                   }

              });


            }

          }


        }

        function getSalesTime(temps){

          if(temps == 'day'){

            $.ajax({
              url: "{% url 'get_sales' %}",
              data : {'time' : 'day'},

              success: function(response){

                var display_sales = document.querySelector('.display_sales');

                var span_sales = document.getElementById('span_sales') ;

                span_sales.innerHTML = '| Aujourdhuit' ;
                a = JSON.stringify(response);
                b = JSON.parse(a) ;
                console.log(typeof(b)) ;
                if(b[1] == null){
                      display_sales.innerHTML = `<h6>${b[0]}</h6>

                      `
                }else{
                  if(b[1] > 0){
                  display_sales.innerHTML = `<h6>${b[0]}</h6>
                        <span class="text-success small pt-1 fw-bold">${b[1]}%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                      `
                }else{

                  display_sales.innerHTML = `<h6>${b[0]}</h6>
                        <span class="text-danger small pt-1 fw-bold">${b[1]}%</span> <span class="text-muted small pt-2 ps-1">decrease</span>
                      `
                }
              }

              },

              error: function(response){


              }

            });

          }else{

            if(temps == 'month'){

              $.ajax({
                url: "{% url 'get_sales' %}",
                data : {'time' : 'month'},

                success: function(response){

                  var display_sales = document.querySelector('.display_sales');

                  var span_sales = document.getElementById('span_sales') ;

                  span_sales.innerHTML = '| Ce mois' ;
                  a = JSON.stringify(response);
                  b = JSON.parse(a) ;
                  console.log(typeof(b)) ;
                  if(b[1] == null){

                      display_sales.innerHTML = `<h6>${b[0]}</h6>

                      `

                  }else{

                    if(b[1] > 0){
                    display_sales.innerHTML = `<h6>${b[0]}</h6>
                          <span class="text-success small pt-1 fw-bold">${b[1]}%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                        `
                  }else{

                    display_sales.innerHTML = `<h6>${b[0]}</h6>
                          <span class="text-danger small pt-1 fw-bold">${b[1]}%</span> <span class="text-muted small pt-2 ps-1">decrease</span>
                        `
                  }


                  }


                },

                 error: function(response){


                 }

              });

            }else{

               $.ajax({
                  url: "{% url 'get_sales' %}",
                  data : {'time' : 'year'},

                  success: function(response){

                    var display_sales = document.querySelector('.display_sales');

                    var span_sales = document.getElementById('span_sales') ;

                    span_sales.innerHTML = '| Cette année' ;
                    a = JSON.stringify(response);
                    b = JSON.parse(a) ;
                    console.log(typeof(b)) ;
                    if(b[1] == null){
                      display_sales.innerHTML = `<h6>${b[0]}</h6>

                      `
                    }else{

                        if(b[1] > 0){
                      display_sales.innerHTML = `<h6>${b[0]}</h6>
                            <span class="text-success small pt-1 fw-bold">${b[1]}%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                          `
                    }else{

                      display_sales.innerHTML = `<h6>${b[0]}</h6>
                            <span class="text-danger small pt-1 fw-bold">${b[1]}%</span> <span class="text-muted small pt-2 ps-1">decrease</span>
                          `
                    }


                    }


                  },

                   error: function(response){


                   }

              });


            }

          }

        }

        function getRevenueTime(temps){

          if(temps == 'day'){

            $.ajax({
              url: "{% url 'get_revenue' %}",
              data : {'time' : 'day'},

              success: function(response){

                var display_revenue = document.querySelector('.display_revenue');

                var span_revenue = document.getElementById('span_revenue') ;

                span_revenue.innerHTML = '| Aujourdhuit' ;
                a = JSON.stringify(response);
                b = JSON.parse(a) ;
                console.log(typeof(b)) ;
                if(b[1] == null){
                   display_revenue.innerHTML = `<h6>$${b[0]}</h6>`
                }else{

                  if(b[1] > 0){
                  display_revenue.innerHTML = `<h6>$${b[0]}</h6>
                        <span class="text-success small pt-1 fw-bold">${b[1]}%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                      `
                }else{

                  display_revenue.innerHTML = `<h6>$${b[0]}</h6>
                        <span class="text-danger small pt-1 fw-bold">${b[1]}%</span> <span class="text-muted small pt-2 ps-1">decrease</span>
                      `
                }

                }

              },

              error: function(response){


              }

            });

          }else{

            if(temps == 'month'){

              $.ajax({
                url: "{% url 'get_revenue' %}",
                data : {'time' : 'month'},

                success: function(response){

                  var display_revenue = document.querySelector('.display_revenue');

                  var span_revenue = document.getElementById('span_revenue') ;

                  span_revenue.innerHTML = '| Ce mois' ;
                  a = JSON.stringify(response);
                  b = JSON.parse(a) ;
                  console.log(typeof(b)) ;
                  if(b[1] == null){
                     display_revenue.innerHTML = `<h6>$${b[0]}</h6>`
                  }else{

                    if(b[1] > 0){
                    display_revenue.innerHTML = `<h6>$${b[0]}</h6>
                          <span class="text-success small pt-1 fw-bold">${b[1]}%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                        `
                  }else{

                    display_revenue.innerHTML = `<h6>$${b[0]}</h6>
                          <span class="text-danger small pt-1 fw-bold">${b[1]}%</span> <span class="text-muted small pt-2 ps-1">decrease</span>
                        `
                  }

                  }


                },

                 error: function(response){


                 }

              });

            }else{

               $.ajax({
                  url: "{% url 'get_revenue' %}",
                  data : {'time' : 'year'},

                  success: function(response){

                    var display_revenue = document.querySelector('.display_revenue');

                    var span_revenue = document.getElementById('span_revenue') ;

                    span_revenue.innerHTML = '| Cette année' ;
                    a = JSON.stringify(response);
                    b = JSON.parse(a) ;
                    console.log(typeof(b)) ;
                    if(b[1] == null){
                      display_revenue.innerHTML = `<h6>$${b[0]}</h6>`
                    }else{

                        if(b[1] > 0){
                      display_revenue.innerHTML = `<h6>$${b[0]}</h6>
                            <span class="text-success small pt-1 fw-bold">${b[1]}%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                          `
                    }else{

                      display_revenue.innerHTML = `<h6>$${b[0]}</h6>
                            <span class="text-danger small pt-1 fw-bold">${b[1]}%</span> <span class="text-muted small pt-2 ps-1">decrease</span>
                          `
                    }


                    }



                  },

                   error: function(response){


                   }

              });


            }

          }


        }

        function getCustomerTime(temps){

          if(temps == 'day'){

            $.ajax({
              url: "{% url 'get_customer' %}",
              data : {'time' : 'day'},

              success: function(response){

                var display_customer = document.querySelector('.display_customer');

                var span_customer = document.getElementById('span_customer') ;

                span_customer.innerHTML = '| Aujourdhuit' ;
                a = JSON.stringify(response);
                b = JSON.parse(a) ;
                console.log(typeof(b)) ;
                if(b[1] == null){

                  display_customer.innerHTML = `<h6>${b[0]}</h6>`

                }else{

                    if(b[1] > 0){
                  display_customer.innerHTML = `<h6>${b[0]}</h6>
                        <span class="text-success small pt-1 fw-bold">${b[1]}%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                      `
                }else{

                  display_customer.innerHTML = `<h6>${b[0]}</h6>
                        <span class="text-danger small pt-1 fw-bold">${b[1]}%</span> <span class="text-muted small pt-2 ps-1">decrease</span>
                      `
                }

                }

              },

              error: function(response){


              }

            });

          }else{

            if(temps == 'month'){

              $.ajax({
                url: "{% url 'get_customer' %}",
                data : {'time' : 'month'},

                success: function(response){

                  var display_customer = document.querySelector('.display_customer');

                  var span_customer = document.getElementById('span_customer') ;

                  span_customer.innerHTML = '| Ce mois' ;
                  a = JSON.stringify(response);
                  b = JSON.parse(a) ;
                  console.log(typeof(b)) ;

                  if(b[1] == null){

                    display_customer.innerHTML = `<h6>${b[0]}</h6>`

                  }else{

                      if(b[1] > 0){
                    display_customer.innerHTML = `<h6>${b[0]}</h6>
                          <span class="text-success small pt-1 fw-bold">${b[1]}%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                        `
                  }else{

                    display_customer.innerHTML = `<h6>${b[0]}</h6>
                          <span class="text-danger small pt-1 fw-bold">${b[1]}%</span> <span class="text-muted small pt-2 ps-1">decrease</span>
                        `
                  }

                  }


                },

                 error: function(response){


                 }

              });

            }else{

               $.ajax({
                  url: "{% url 'get_customer' %}",
                  data : {'time' : 'year'},

                  success: function(response){

                    var display_customer = document.querySelector('.display_customer');

                    var span_customer = document.getElementById('span_customer') ;

                    span_customer.innerHTML = '| Cette année' ;
                    a = JSON.stringify(response);
                    b = JSON.parse(a) ;
                    console.log(typeof(b)) ;

                    if(b[1] == null){

                        display_customer.innerHTML = `<h6>${b[0]}</h6>`

                    }else{

                        if(b[1] > 0){
                      display_customer.innerHTML = `<h6>${b[0]}</h6>
                            <span class="text-success small pt-1 fw-bold">${b[1]}%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                          `
                    }else{

                      display_customer.innerHTML = `<h6>${b[0]}</h6>
                            <span class="text-danger small pt-1 fw-bold">${b[1]}%</span> <span class="text-muted small pt-2 ps-1">decrease</span>
                          `
                    }


                    }


                  },

                   error: function(response){


                   }

              });


            }

          }


        }


        function chart(temps){


            $.ajax({
              url: "{% url 'get_chart' %}",
              data: {'time' : temps },

              success: function(response){
                var data_axis = response.data ;

                var span_chart = document.getElementById('span_chart') ;
                if(temps == 'day'){
                  span_chart.innerHTML = '| Aujourdhuit' ;
                }else{
                  if(temps == 'month'){
                    span_chart.innerHTML = '| Ce mois' ;
                  }else{
                    span_chart.innerHTML = '| Cette annee' ;
                  }

                }
                console.log(data_axis) ;

                new ApexCharts(document.querySelector("#reportsChart"), {
                  series: [{
                    name: 'Sales',
                    data: data_axis[0],
                  }, {
                    name: 'Revenue',
                    data: data_axis[1]
                  }, {
                    name: 'Customers',
                    data: data_axis[2]
                  }],
                  chart: {
                    height: 350,
                    type: 'area',
                    toolbar: {
                      show: false
                    },
                  },
                  markers: {
                    size: 4
                  },
                  colors: ['#4154f1', '#2eca6a', '#ff771d'],
                  fill: {
                    type: "gradient",
                    gradient: {
                      shadeIntensity: 1,
                      opacityFrom: 0.3,
                      opacityTo: 0.4,
                      stops: [0, 90, 100]
                    }
                  },
                  dataLabels: {
                    enabled: false
                  },
                  stroke: {
                    curve: 'smooth',
                    width: 2
                  },
                  xaxis: {
                    type: 'datetime',
                    categories: response.intervals
                  },
                  tooltip: {
                    x: {
                      format: 'dd/MM/yy HH:mm'
                    },
                  }
                }).render();

              },

              error: function(response){

              }
            })



        }
  </script>

  {% block script %}

  <script>



  </script>

  {% endblock %}

</body>

</html>