{% extends 'DashBoard/index.html' %}
{% load static %}
{% block dash %}

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="{% static 'assets_home/images/icons/gti-logo.png' %}" alt="">
                  <span class="d-none d-lg-block">GTI ShopAdmin</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body" id="card_body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Se connecter</h5>
                    <p class="text-center small">Entrer votre email et votre mot de passe pour se connecter</p>
                  </div>

                  <form class="row g-3 " id="login_admin_form" method="post">
                    {% csrf_token %}

                    {% for field in login_form %}
                    <div class="col-12 has-error">
                      {{ field.label_tag }}

                      {% if field.id_for_label == 'id_email' %}
                        <div class="input-group has-validation">
                          <span class="input-group-text" id="inputGroupPrepend">@</span>
                        {{ field }}
                      {% else %}

                        {{ field }}

                      {% endif %}




                      {% if field.id_for_label == 'id__email' %}
                          <div  class="invalid-feedback">L'email ou le mot de passe est incorrect!</div>
                        </div>
                      {% endif %}

                      {% if field.id_for_label == 'id__password' %}
                          <div  class="invalid-feedback">L'email ou le mot de passe est incorrect!</div>
                        </div>
                      {% endif %}

                    

                 
                    {% endfor %}

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                        <label class="form-check-label" for="rememberMe">Se souvenir de moi</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Se connecter</button>
                    </div>
<!--                    <div class="col-12">-->
<!--                      <p class="small mb-0">Vous n'avez pas de compte? <a href="{% url 'register_admin' %}">Creer un compte</a></p>-->
<!--                    </div>-->
                  </form>

                </div>
                <div class="card-body" id="card_body_ext">
                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Phone Verification</h5>
                    <p class="text-center small" id="para_otp"></p>
                  </div>

                  <form class="row g-3 " id="phone_admin_form" method="post">
                    {% csrf_token %}


                   <div class="col-12 has-error">
                      <label for="id_otp" class="form-label">Votre OTP Verification</label>
                      <input type="text" name="otp" class="form-control" id="id_otp" required>
                      <div id="invalid_text_otp" class="invalid-feedback">Le code OTP entre est invalide!</div>
                     <div id="invalid_text" class="'font-weight-bold"></div>
                   </div>


                   




                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Envoyer</button>
                    </div>

                  </form>

                
                </div>
              </div>

              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% endblock %}

{% block script %}
<script>
  $('#card_body_ext').hide();
  $(document).ready(function() {

      $('#login_admin_form').submit(function () {
                // create an AJAX call
                donne = {'data': $(this).serialize() , 'verify_superuser': 1 } ;
                $.ajax({
                    data: donne , // get the form data
                    type: $(this).attr('method'), // GET or POST
                    url: "{% url 'login' %}",
                    // on success
                    success: function (response) {
                        $('input[type="email"]#id__email').val('');
                        $('input[type="password"]#id__password').val('');
                        //window.location.reload();
                        if($('#mover')){
                        $('#mover').remove();
                        }
                        
                        $('#card_body_ext').show();
                        $('#card_body').hide();
                        card_body = document.getElementById('card_body') ;
                        para_otp.innerHTML = 'Veillez saisir le code envoye sur le numero' + response.phone_number 

                        //location.href = "{% url 'dash' %}" ;
                    },
                    // on error
                    error: function (response) {
                        // alert the error if any error occured


                        if(response.responseJSON.warning) {
                            swal("Attention" , "Vous n'etes pas autorise", "error") ;
                        }else
                        {
                          if(response.responseJSON.phone_unverified){

                            swal("Verification echoue" , "Nous avons rencontré une erreur dans la verification de votre numero", "error") ;

                          }else{

                            $('input[type="email"]#id__email').addClass("is-invalid") ;
                            $('input[type="password"]#id__password').addClass("is-invalid") ;

                          }



                        }
                        if(response.responseJSON.phone_unverified) {
                            swal("Attention" , "Vous n'etes pas autorise", "error") ;
                        }else
                        {

                          $('input[type="email"]#id__email').addClass("is-invalid") ;
                          $('input[type="password"]#id__password').addClass("is-invalid") ;

                        }

                        console.log(response.responseJSON.contact)
                    }
                });
                return false;
      });

      $('#phone_admin_form').submit(function () {

            $.ajax({
              data : $(this).serialize(), 
              type: $(this).attr('method'), // GET or POST
              url: "{% url 'phone_verification' %}",

              success: function(response){

                window.location.href = "{% url 'dash' %}" ;

              },

              error: function(response){

                if(response.responseJSON.code_invalid){
                  document.getElementById('id_otp').classList.add('is-invalid');
                }else{
                  
                  if (response.responseJSON.expired_time){
                  alert('countdown') ;
                  var time = 60*15 ;
                  localStorage.time = time ;
                  var x = setInterval(function(){
                      countdown = localStorage.time -1;
                      localStorage.time = countdown ;
                      var current_time = localStorage.time ;
                      if(current_time > 60 ){
                        document.getElementById('invalid_text').innerHTML = 'Réessayer dans  ' + Math.floor(current_time / 60)  + 'min' ;
                      }else{
                          document.getElementById('invalid_text').innerHTML = 'Réessayer dans  ' + current_time + 's' ;
                      }
                      document.getElementById('id_otp').disabled = true
                      //document.getElementById('invalid_text_otp').innerHTML = 'Réessayer dans' + current_time + 's' ;
                      document.getElementById('id_otp').classList.add('is-invalid');

                      if(current_time < 0){
                        clearInterval(x);
                        document.getElementById('invalid_text').innerHTML = '' ;
                        document.getElementById('id_otp').disabled = false ;
                        document.getElementById('id_otp').classList.add('is-valid');

                      }



                  }, 1000);
                }

                }

                if(response.responseJSON.expired_code){
                  //window.location.reload() ;
                  document.getElementById('id_otp').classList.add('is-invalid');
                  document.getElementByID('invalid_text_otp').innerHTML = 'Votre code otp est expire' ;
                }

                

              }

            });

            return false ;

      });

  });

</script>


{% endblock %}