{% extends 'DashBoard/index.html' %}

{% load static %}



    {% block other %}
    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
              <h2>Kevin Anderson</h2>
              <h3>Web Designer</h3>
              <div class="social-links mt-2">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">About</h5>
                  <p class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</p>

                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8">{{ user.fist_name }}  {{ user.last_name }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{ user.email }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone</div>
                    <div class="col-lg-9 col-md-8">(229) {{ user.contact }}</div>
                  </div>



                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form class="has-error" method="post" id="updateAdmin">
                    {% csrf_token %}

                    {% for field in update_form %}
                    <div class="row mb-3">
                      {{ field.label_tag }}

                      <div class="col-md-8 col-lg-9">
                        {{ field }}

                        {% if field.id_for_label == 'id_email' %}

                          <div  class="invalid-feedback">L'email entrer est deja utilise!</div>

                        {% endif %}

                        {% if field.id_for_label == 'id_contact' %}

                          <div  class="invalid-feedback">Entrer un contact valide!</div>

                        {% endif %}

                      </div>
                    </div>
                    {% endfor %}








                    <div class="text-center">
                      <button type="submit"  class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>



                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form class="" id="changeAdmin" method="post">
                    {% csrf_token %}

                    {% for field in change_form %}
                    <div class="row mb-3">
                      {{ field.label_tag }}

                      <div class="col-md-8 col-lg-9">
                        {{ field }}

                        {% if field.id_for_label == 'id_password1' %}
                          <div class="invalid-feedback"><h6 class="text-danger" >L'ancien mot de passe est incorrect</h6></div>
                        {% endif %}

                        {% if field.id_for_label == 'id_password3' %}
                          <div class="invalid-feedback"><h6 class="text-danger" >Le mot de passe de confirmation est invalide</h6></div>
                        {% endif %}

                      </div>
                    </div>
                    {% endfor %}



                    <div class="text-center">
                      <button type="submit"  class="btn btn-primary">Change Password</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>
    {% endblock %}





{% block script %}

<script>

  $(document).ready(function () {

   $('#updateAdmin').submit(function () {
                // create an AJAX call
                $.ajax({
                	url: "{% url 'verify_connection' %}",

                	success: function( response ){

                		$.ajax({
							data: $('#updateAdmin').serialize(), // get the form data
							type: $('#updateAdmin').attr('method'), // GET or POST
							url: "{% url 'up' %}",
							// on success
							success: function (response) {

								swal("Mise a jour!", "Votre profil est mise a jour avec succes!", "success").then(function(){ location.reload() ; });

							},
							// on error
							error: function (response) {
								// alert the error if any error occured

								if(response.responseJSON.email){
								$('input[type="email"]#id_email').addClass("is-invalid") ;
								}

								if(response.responseJSON.contact){
								document.getElementById('id_contact').classList.add('is-invalid');
								}


								console.log(response.responseJSON.contact);
							}
						});

                	},

                	error: function( response ){

                		window.location.href = "{% url 'login_admin' %}" ;

                	}

                });


                return false;
            });

            $('#changeAdmin').submit(function () {

   				$.ajax({
   					url: "{% url 'verify_connection' %}",

   					success: function( response ){

   						// create an AJAX call
						$.ajax({
							data: $('#changeAdmin').serialize(), // get the form data
							type: $('#changeAdmin').attr('method'), // GET or POST
							url: "{% url 'change' %}",
							// on success
							success: function (response) {
								$('input[type="password"]#id_password1').val('');
								$('input[type="password"]#id_password2').val('');
								$('input[type="password"]#id_password3').val('');
								swal("Mise a jour!", "Votre mot de passe a ete change avec succes!", "success").then(function(){ location.href = "{% url 'dash' %}"; }) ;

							},
							// on error
							error: function (response) {
								// alert the error if any error occured

								if(response.responseJSON.old){
								$('input[type="password"]#id_password1').addClass("is-invalid") ;
								}else{
								$('input[type="password"]#id_password1').removeClass("is-invalid") ;
								}

								if(response.responseJSON.new){
								$('input[type="password"]#id_password3').addClass("is-invalid") ;
								}


								console.log(response.responseJSON.contact);
							}
						});

   					},


   					error: function( response ){

   						document.location.href = "{% url 'login_admin' %}" ;

   					}
   				});

			 return false;
            });
		})

</script>

{% endblock %}
